.photo {
    width: 300px;
    border-radius: 50% 25%;

}

h2 {
    color: darkseagreen;
    font-weight: 700;
}

#instagram {
    color:rgb(184, 153, 69);
    background-color: rgb(233, 124, 255);
    font-weight: 500;
}

#linkedin {
    color:rgb(36, 36, 92);
    background-color: cornflowerblue;
    font-weight: 500;
}

#github {
    color:whitesmoke;
    background-color:rgb(87, 87, 87);
    font-weight: 500;
}